!!! 5
%html(lang="en")
  %head
    %title
      - if @page
        - pagetitle = @page.metadata('pagetitle') || @page.heading
      - if pagetitle 
        = @site_title + ': ' + pagetitle
      - else
        = @site_title
    %meta(charset="utf-8")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %link(rel="shortcut icon" href="/attachments/favicon.ico")
    <!--[if ! lte IE 6]><!-->
    %link(href="/mr/css/main.css" media="screen" rel="stylesheet")
    %link(href="/mr/css/print.css" media="print" rel="stylesheet")
    %link(href="http://fonts.googleapis.com/css?family=PT+Serif|PT+Sans" rel="stylesheet")
    <!--<![endif]-->
    /[if lte IE 6]
      %link(rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection")
    /[if lt IE 9]
      %script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
    -# feed
    %link(href="/articles.xml" rel="alternate" type="application/atom+xml")
    %link(href="http://mishareyzlin.com/humans.txt" rel="author" type="text/plain")
  -# get page class and data-action from page metadata
  - if @page
    - page_class = @page.metadata('pageclass') if @page.metadata('pageclass') 
    - page_action = @page.metadata('pageaction') if @page.metadata('pageaction')
  %body{:class => (page_class if page_class && !page_class.empty?),  
        :data => { :action => ( page_action if page_action && !page_action.empty? ) } }
    .decoration
    %header.header
      %a.logo(href="/")
        %img(src="/mr/i/logo.png" alt="mishareyzlin.com logo")
      = haml :nav, :layout => false, :locals => { :page => @page }
    %section.main
      = yield
      - if @page && @page.metadata('summary') == 'true'
        .main-notes 
          = article_summaries(latest_articles)
    - if @page
      - if @page.path.include? 'notes'
        %aside.secondary
          %div.secondary-promotejs
            = promotejs()
    %script(src="http://code.jquery.com/jquery-1.5.2.min.js")
    - if ENV['ENVIRONMENT'] != 'production'
      %script(src="/mr/js/hashgrid.js")
    %script(src="/mr/js/main.js")
    -# When a page requires custom scripts, 
    -# put them in metadata separated by a comma
    - if @page && @page.metadata('scripts')
      - scripts = @page.metadata('scripts').split /, */
      - scripts.each do |script|
        %script(src="/mr/js/#{script}.js")
    -# analytics
    %script
      :plain
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script
      :plain
        try {
          var pageTracker = _gat._getTracker("UA-11517311-1");
          pageTracker._trackPageview();
        } catch(err) {}
    